@import "tailwindcss";

html {
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-VF.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "FiraCode",ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "FiraCode", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "FiraCode", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-background: var(--color-slate-950);
  --color-background-muted: var(--color-slate-700);
  --color-foreground: var(--color-emerald-300);
  --color-foreground-muted: var(--color-emerald-500);
}